.login-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
}
